.header {
  padding-bottom: 20px;
}

.searchWrapper {
  max-width: 500px;
  margin-top: 20px;
}

.filters {
  padding-top: 0;
  padding-bottom: 24px;
}

.tags {
  display: flex;
  gap: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 32px;
}

.empty {
  text-align: center;
  padding: 40px 0;
}